---
// Component Imports
import Home from '~/layouts/Home.astro';
import BaseHead from '~/components/BaseHead.astro';

const { content } = Astro.props;
const { lang = "en", title, description, publishDate, author, heroImage, permalink, alt } = content ?? {};

// // Data Fetching: List all Markdown posts in the repo.

// let allPosts = await Astro.glob('./posts/*.md');
// allPosts = allPosts.sort((a, b) => new Date(b.frontmatter.publishDate).valueOf() - new Date(a.frontmatter.publishDate).valueOf());

// // Full Astro Component Syntax:
// // https://docs.astro.build/core-concepts/astro-components/
---

<html lang={lang}>
	<head>
		<BaseHead {title} {description} {permalink} />
	</head>
	<body>
		<Home>
			<main class="content">
				hello
					<!-- <section aria-label="Blog post list">
						{allPosts.map((p) => <BlogPostPreview post={p} />)}
					</section> -->
			</main>
		</Home>
	</body>
</html>
